<%- include('partials/header'); -%>
<form>
  <h2>Login</h2>
  <label>Email</label>
  <input type="email" name="email" required />
  <div id='email-error' class="email error"></div>
  <label>Password</label>
  <input type="password" name="password" required />
  <div id='password-error' class="password error"></div>
  <button>Login</button>
</form>

<script>
  const form = document.querySelector('form');
  const emailError = document.getElementById('email-error');
  const passwordError = document.getElementById('password-error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    //reset error
    emailError.textContent = '';
    passwordError.textContent = '';

    //get the values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/login', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' },
      });
      if (!res.ok) {
        const errorData = await res.json();
        throw errorData.errors;
      } else {
        const data = await res.json();
        console.log(data);
        if (data.user) {
        //   location.assign('/');
        } else {
          throw 'Something went wrong';
        }
      }
    } catch (error) {
      console.log('error: ', error);
      emailError.textContent = error.email;
      passwordError.textContent = error.password;
    }
  });
</script>
<%- include('partials/footer'); -%>
